.items{
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.item{
    background-color:white;
    width:150px;
    height:150px;
    border-radius:10px;
    padding:0.7%;
    margin:auto;
    box-shadow: -3px 4px 5px;
}

.item:hover{
    box-shadow: 0px 2px 7px;
}

.items .item .image img{
    border-radius:10px;
    height:90px;
}

.settingkelas{
    background-color:#6eb8f6;
    padding:2%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-left:15px;
    margin-top: -8px;
}

.headsetting{
    background-color:#3a83f6;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
}

.headsetting center h5{
    color:white;
}

.headsettingmlengkung{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modalset{
    width:100vw;
}

#close-ubahpresensi{
    border:0.5px solid lightgray;
    border-radius:5px;
}

#close-ubahpresensi:hover{
    background-color:red;
    color:white;
}

#close-tambahpresensi{
    border:0.5px solid lightgray;
    border-radius:5px;
}

#close-tambahpresensi:hover{
    background-color:red;
    color:white;
}

#gantifoto{
    display:none;
}

#label-ubahfoto{
    margin-top:10px;
    width:244px;
}
