.items{
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.item{
    background-color:white;
    width:150px;
    height:150px;
    border-radius:10px;
    padding:0.7%;
    margin:auto;
}

.item img{
    border-radius:10px;
}

.settingkelas{
    background-color:#6eb8f6;
    padding:2%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-left:15px;
    margin-top: -8px;
}

.headsetting{
    background-color:#3a83f6;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
}

.headsetting center h5{
    color:white;
}

.headsettingmlengkung{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
